{% extends 'base.html.twig' %}
{% block body %}
    <div class="container py-4">
        <h1 class="mb-3">Hallo Bootstrap + Twig</h1>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#m1">Modal öffnen</button>
        <div class="modal fade" id="m1" tabindex="-1">
            <div class="modal-dialog"><div class="modal-content">
                    <div class="modal-header"><h5 class="modal-title">Beispiel</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body">Inhalt</div>
                    <div class="modal-footer"><button class="btn btn-secondary" data-bs-dismiss="modal">Schliessen</button></div>
                </div></div>
        </div>
    </div>
{% endblock %}
