{% extends '@EasyAdmin/layout.html.twig' %}

{% block body_id 'dashboard' %}

{% block main %}
    <h1 class="page-title">Service-Dashboard</h1>

    <p class="description">
        Let's do some sketchy shit duda-duda...
    </p>
{% endblock %}
